/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #BAD9F9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #003366;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
}

select,
input,
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

    input[type="submit"] {
        background-color: #003366;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: bold;
    }

        input[type="submit"]:hover {
            background-color: #001f4d;
        }
